@page
@model SimpleManagementSystem.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "List Of Employees";
    ViewData["ShowButtons"] = true;

}
<style>
    .btn {
        width: 75px;
    }
</style>

@*@await Component.InvokeAsync("HeadCount")*@
<form method="get">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." asp-for="SearchTerm"/>
        <div class="input-group-append">
            <button class="btn btn-outline-info" type="submit">Search</button>
        </div>
    </div>
</form>
<vc:head-count department-name="@null"></vc:head-count>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <partial name="_DisplayPartialView" model="employee" view-data="ViewData" />
        }
    </tbody>
</table>